{
  "parsetOptions": {
    "ecmaVersion": 2019, //js 문법버젼
    "sourceType": "module" // script system 안쓰고 vue는 다 import하는 형식이라서 module 
  },
  "env": {
    "browser": true,
    "node": true
  },

  // 아래 3개를 원하는대로 정의하면 됨
  "extends": [
    "plugin:vue/recommended" // vue에서 추천하는 내용
  ],
  "plugins": [

  ],
  "rules": {

  }
}