
/* 기본 */
.v-application--wrap {min-height:auto}
.v-application .logo {}
.v-application .logo .v-icon.v-icon {font-size:34px}
.v-application .logo a {display:block;width:38px;height:38px;border-radius:50%;color:#275629;text-decoration:none;font-size:15px;font-weight:700;line-height:38px;text-align:center;background-color:#fff;}